# ---frontend---
acac_frontend/.DS_Store
acac_frontend/node_modules
acac_frontend/dist/

acac_frontend/tests/e2e/videos/
acac_frontend/tests/e2e/screenshots/

# local env files
acac_frontend/.env.local
acac_frontend/.env.*.local

# Log files
acac_frontend/npm-debug.log*
acac_frontend/yarn-debug.log*
acac_frontend/yarn-error.log*

# Editor directories and files
acac_frontend/.idea
acac_frontend/.vscode
acac_frontend/*.suo
acac_frontend/*.ntvs*
acac_frontend/*.njsproj
acac_frontend/*.sln
acac_frontend/*.sw?

# ---backend---
# Byte-compiled / optimized / DLL files
acac_backend/__pycache__/
acac_backend/*.py[cod]
acac_backend/*$py.class

# C extensions
acac_backend/*.so

# Distribution / packaging
acac_backend/.Python
acac_backend/env/
acac_backend/build/
acac_backend/develop-eggs/
acac_backend/dist/
acac_backend/downloads/
acac_backend/eggs/
acac_backend/.eggs/
acac_backend/lib/
acac_backend/lib64/
acac_backend/parts/
acac_backend/sdist/
acac_backend/var/
acac_backend/wheels/
acac_backend/*.egg-info/
acac_backend/.installed.cfg
acac_backend/*.egg
acac_backend/*.sqlite3
acac_backend/.idea/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
acac_backend/*.manifest
acac_backend/*.spec

# Installer logs
acac_backend/pip-log.txt
acac_backend/pip-delete-this-directory.txt

# Unit test / coverage reports
acac_backend/htmlcov/
acac_backend/.tox/
acac_backend/.coverage
acac_backend/.coverage.*
acac_backend/.cache
acac_backend/nosetests.xml
acac_backend/coverage.xml
acac_backend/*.cover
acac_backend/.hypothesis/

# Translations
acac_backend/*.mo
acac_backend/*.pot

# Django stuff:
acac_backend/*.log
acac_backend/local_settings.py

# Flask stuff:
acac_backend/instance/
acac_backend/.webassets-cache

# Scrapy stuff:
acac_backend/.scrapy

# Sphinx documentation
acac_backend/docs/_build/

# PyBuilder
acac_backend/target/

# Jupyter Notebook
acac_backend/.ipynb_checkpoints

# pyenv
acac_backend/.python-version

# celery beat schedule file
acac_backend/celerybeat-schedule

# SageMath parsed files
acac_backend/*.sage.py

# dotenv
acac_backend/.env

# virtualenv
acac_backend/.venv
acac_backend/venv/
acac_backend/ENV/

# Spyder project settings
acac_backend/.spyderproject
acac_backend/.spyproject

# Rope project settings
acac_backend/.ropeproject

# mkdocs documentation
acac_backend//site

# mypy
acac_backend/.mypy_cache/
acac_backend/.DS_Store

# Django migrations
acac_backend/migrations/

# Project asset folders
acac_backend/staticfiles/
acac_backend/static/
acac_backend/media/
media

# Database
acac_backend/gymkhanadb
acac_backend/db.sqlite3

# Editor directories and files
acac_backend/.idea
acac_backend/*.suo
acac_backend/*.ntvs*
acac_backend/*.njsproj
acac_backend/*.sln

